<div class="container mt-5">
    <h2 class="mb-4">Add Notification</h2>
    <form action="scripts/add_notification.php" method="post">
        <div class="form-group">
            <label for="name">Name:</label><br>
            <input type="text" class="form-control" id="name" name="name" required><br><br>
        </div>

        <div class="form-group">
            <label for="message">Message:</label><br>
            <textarea class="form-control" id="message" name="message" required></textarea><br><br>
        </div>

        <div class="form-group">
            <label for="icon">Icon URL:</label><br>
            <input type="text" class="form-control" id="icon" name="icon"><br><br>
        </div>

        <div class="form-group">
            <label for="url">URL:</label><br>
            <input type="text" class="form-control" id="url" name="url"><br><br>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>